<div class="new-page app-about">
    <h1 class="mt-0">Sounds Never Lost</h1>
    <p>
        This is just here as a placeholder until the site is up and running.
    </p>

    <h2>Host all music in one place</h2>
    <p>
        The purpose of this project is to keep track of all your music in one place and no longer worry about having
        music exclusive to one service.
    </p>
    <ol>
        <li>I got tired of random videos getting deleted in my YouTube playlist and having no idea which ones (playlist
            is around 700 songs)</li>
        <li>Some stuff that I listen to is only on Spotify and Soundcloud.</li>
    </ol>

    <h2>Languages</h2>
    <p>
        At the moment it will just be these:
    </p>
    <ul>
        <li>Angular</li>
        <li>HTML</li>
        <li>SCSS</li>
        <li>Typescript</li>
        <li>svg</li>
    </ul>
    <p>
        NB: Trying to use svg's to save on api calls for images.
    </p>
</div>