.app-root {
    width: 100%;
    min-height: 100vh;
    position: relative;

    img {
        width: 100%;
        padding: 1.5rem 3rem;
        border-radius: 100%;
    }

    .mat-drawer {
        width: 200px;

        button.mat-flat-button {
            display: block;
            text-align: left;
            padding: 0.5rem 1rem;
            width: 100%;
            border-radius: 0px;

            .mat-icon {
                margin-right: 1rem
            }
        }

        .active-link {
            color: var(--accent)
        }
    }
}