.app-player-controls{
    height: 26px;
    border-color: lightseagreen;
    border-style: solid;
    border-width: 1px;

}




// svg,
// svg *{
//     transition-duration: 200ms;
// }

// .pause-play{
//     d: path('M8 5v14l11-7z');
// }
// svg:hover .pause-play{
//     d: path('M6 19h4V5H6v14zm8-14v14h4V5h-4z');
// }